@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#212121] text-slate-100;

  overscroll-behavior: none;
  scrollbar-width: none; /* "thin" or "auto" or "none" */
  scrollbar-color: #000000 #000000; /* thumb and track color */
}
